name: CI test

on:
  push:
    branches: [main]

jobs:
  go-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: setting up go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: Check formatting
        run: |
          res=$(gofmt -l .)
          if [ -n "$res" ]; then
            echo "Unformatted:"
            echo "$res"
            exit 1
          fi
