name: Tests

on:
    push:
        branches:
            - main
jobs:
    testing:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                go-version: ["1.23", "1.24", "1.25"]
        steps:
            - uses: actions/checkout@v4
            
            - name: setup-go ${{matrix.go-version}}
              uses: actions/setup-go@v5
              with:
                go-version: ${{matrix.go-version}}
                cache: true

            - name: Tidying dependencies
              run: go mod tidy

            - name: running test files
              run: |
               echo "Going Verbose"
               go test -v ./... 
